
/* just giving things some colour */

circle {
    stroke: #d12e2e;
} 

 circle:hover {
    fill-opacity: 0.5;
}

svg {
    background-color: blue;
}

circle {
    fill: #d12e2e;
}

.tooltip {
    position: absolute;
    background-color: #c02ec5;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    color: #000000;
}

