


circle {
    stroke: #d12e2e;
} 

 circle:hover {
    fill-opacity: 0.5;
}

svg {
    background-color: blue;
}


.tooltip {
    position: absolute;
    background-color: #1c13a0;
    border: 1px solid #336845;
    border-radius: 5px;
    padding: 10px;
    pointer-events: none;
}